@font-face {
  font-family: "iconfont"; /* Project id 3861680 */
  src: url('iconfont.woff2?t=1673512543558') format('woff2'),
       url('iconfont.woff?t=1673512543558') format('woff'),
       url('iconfont.ttf?t=1673512543558') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e609";
}

.icon-password:before {
  content: "\e65d";
}

